$golden-color: #d1b16b;
$darkest-grey-color: #555f6d;
$dark-grey-color: #2e3947;
$black-color: #161d27;
$black-transparent-color: rgba(255, 255, 255, 0.1);
$grey-color: #d7d7d7;
$white-color: #ffff;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.textGolden {
  color: $golden-color;
}

.textBlack {
  color: $black-color;
}

.textWhite {
  color: $white-color;
}

html {
  font-size: min(1vw, 16px);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;

  color: $white-color;
}
h1 {
  font-size: 4.063rem;
}

h2 {
  font-size: 4.063rem;
}

h3 {
  font-size: 2.813rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2.188rem;
}

h6 {
  font-size: 1.875rem;
}

text {
  font-family: 'Outfit';
  font-size: 1.375rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $black-color;

  section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    left: 0;
    z-index: -1;
    pointer-events: none;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      padding: 13.125rem;
      width: 70vw;

      pointer-events: all;
    }
  }
}
