.bannerBackground {
  background: url('../public//image.png') no-repeat top center;
  background-size: cover;
  align-items: center;

  width: 100vw;
  height: 56.927083333333vw;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: left;

  pointer-events: all;

  transform: translateY(6.3vw);

  text {
    max-width: 37.5rem;
  }

  gap: 0.2rem;
  :last-child {
    margin-top: 1rem;
  }
}
