@use './_global.module.scss' as global;
@use './_buttons.module.scss' as btn;

.topbar {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;

  left: 50%;
  transform: translateX(-50%);

  width: 70vw;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.5rem;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1.45rem 0rem 1.45rem 0rem;

  width: 100%;

  border-bottom: 1px solid global.$black-transparent-color;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 4.625rem;
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;

  width: 7.5rem;
  height: 2.188rem;

  cursor: pointer;

  font-family: 'Outfit';
  font-size: normal;
  font-weight: 400;
  font-size: 1.375rem;

  color: global.$white-color;
  svg {
    transform: translateY(-0.125rem);
  }
}

.menu {
  display: flex;
  flex-direction: row;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;

  color: global.$white-color;
  a {
    text-decoration: none;
    color: global.$white-color;
  }

  gap: 2.5rem;
}

.rowContainer {
  display: flex;
  flex-direction: row;

  gap: 2.5rem;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 0.625rem;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Outfit';
    font-size: normal;
    font-weight: 400;
    font-size: 1.375rem;

    :first-child {
      color: global.$golden-color;
    }
    :last-child {
      color: global.$white-color;
    }
  }
}
